body {
    background-color: rgb(231, 230, 220);
}
.sidebar {
    background-color: cadetblue;
    width: 19%;
    display: inline-block;
    /* float: left; */
    vertical-align: top;
}
.main-content {
    background-color: coral;
    width: 80%;
    display: inline-block;
}
